<section id="choose-payment" ng-controller="PaymentSelectionController">
	<h1>Choose payment type</h1>
	<ul class="payment-list">
		<li ng-repeat="payment in paymentTypes" data-payment="{[{payment.type}]}">{[{payment.name}]}</li>
	</ul>
</section>