doctype html
html
	head
		meta(name="viewport", content="width=device-width,initial-scale=1,max-width=1,min-width=1")
		title Layout
		link(rel='stylesheet', href='main.css')
	body
		block content

		script(src="https://code.jquery.com/jquery-2.1.4.min.js")