<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,max-width=1,min-width=1" />
    <title>BioPay</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>