<section id="payment-value">
	<div class="output"><input class="value" type="number" min="0.00" step="0.01" value="0.00" /></span></div>
	<ul>
		<li><button>1</button></li>
		<li><button>2</button></li>
		<li><button>3</button></li>
		<li><button>4</button></li>
		<li><button>5</button></li>
		<li><button>6</button></li>
		<li><button>7</button></li>
		<li><button>8</button></li>
		<li><button>9</button></li>
		<li><button>.</button></li>
		<li><button>0</button></li>
		<li><button>></button></li>
	</ul>
</section>