extends layout

block content
	h1 Payment
	
	.output 0.0

	.keyboard
		button 1
		button 2
		button 3
		button 4
		button 5
		button 6
		button 7
		button 8
		button 9
		button .
		button 0
		button #