<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="main.css">
    <title>BioPay</title>
</head>
<body>
 
    {{{body}}}

    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>