<ion-content hide-nav-bar="true">
      <div ng-if="!tag">
        <h1>Welcome!!!!</h1>
        <h1>Welcome!!!!</h1>
          <div class="card">
              <div class="item item-text-wrap center">
                  Scan a tag to being.
              </div>
          </div>


      </div>
      <div ng-if="tag">
          <div class="card">
              <div class="item item-text-wrap">
                  <dl>
                      <dt>Tag Id</dt>
                      <dd>{{ tag.id | bytesToHexString }}</dd>
                  </dl>
              </div>
          </div>

      </div>
  </ion-content>
