<ion-view view-title="Setup">
  <ion-content>
    <h1>Select the apps for your chip</h1>

    <ul class="list">

      <li class="item item-toggle">
         V-card
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         BlockChain
         <label class="toggle toggle-positive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Website address
         <label class="toggle toggle-balance">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Linkedin
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Twitter
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>
  </ion-content>
</ion-view>
