<section id="payment-value" ng-controller="paymentInputController">

	<div><img src="images/logos.png" alt=""></div>
	<div class="converted-output"><input ng-model="convertedPrice" class="value" type="text" value="BTC 0.00" readonly=""></div>
	<div class="output"><input ng-model="price" class="value" type="text" value="0.00" /></span></div>
	<ul>
		<li><button ng-click="numberClickHandler(1)">1</button></li>
		<li><button ng-click="numberClickHandler(2)">2</button></li>
		<li><button ng-click="numberClickHandler(3)">3</button></li>
		<li><button ng-click="numberClickHandler(4)">4</button></li>
		<li><button ng-click="numberClickHandler(5)">5</button></li>
		<li><button ng-click="numberClickHandler(6)">6</button></li>
		<li><button ng-click="numberClickHandler(7)">7</button></li>
		<li><button ng-click="numberClickHandler(8)">8</button></li>
		<li><button ng-click="numberClickHandler(9)">9</button></li>
		<li><button ng-click="numberClickHandler(0)" class="zero">0</button></li>
		<li><button ng-click="decimalClickHandler()">.</button></li>
	</ul>
	<ul class="nav">
		<li><button ng-click="cancelClickHandler()" class="cancel">x</button></li>
		<li><button ng-click="eraseClickHandler()" class="erase"><</button></li>
		<li><button ng-click="confirmClickHandler()" class="confirm">o</button></li>
	</ul>
</section>