<section id="payment-value" ng-controller="paymentInputController">
	<div class="converted-output"><input ng-model="convertedPrice" class="value" type="text" value="BTC 0.00" readonly=""></div>
	<div class="output">EUR<input ng-model="price" class="value" type="text" value="0.00" /></span></div>
	<ul>
		<li><button ng-click="buttonPressHandler(1)">1</button></li>
		<li><button ng-click="buttonPressHandler(2)">2</button></li>
		<li><button ng-click="buttonPressHandler(3)">3</button></li>
		<li><button ng-click="buttonPressHandler(4)">4</button></li>
		<li><button ng-click="buttonPressHandler(5)">5</button></li>
		<li><button ng-click="buttonPressHandler(6)">6</button></li>
		<li><button ng-click="buttonPressHandler(7)">7</button></li>
		<li><button ng-click="buttonPressHandler(8)">8</button></li>
		<li><button ng-click="buttonPressHandler(9)">9</button></li>
		<li><button ng-click="buttonPressHandler(0)" class="zero">0</button></li>
		<li><button ng-click="buttonPressHandler('.')">.</button></li>
	</ul>
	<ul class="nav">
		<li><button ng-click="buttonPressHandler('x')" class="cancel">x</button></li>
		<li><button ng-click="buttonPressHandler('<')" class="erase"><</button></li>
		<li><button ng-click="buttonPressHandler('o')" class="confirm">o</button></li>
	</ul>
</section>