//
// Base
//

html, body {
	margin: 0;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

a {
	color: #FF4136;
}

.app-container {
	width: 320px;
	margin: 0 auto;
}
