//
// Base
//

html, body {
	margin: 0;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	transform: rotate(0.75turn);
	max-width:320px;
	max-height:480px;
	overflow:hidden;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

a {
	color: #FF4136;
}

.app-container {
	width: 320px;
    height: 480px;
	/*width: 320px;
	margin: 0 auto;*/
}
