//
// Payment value
//
#payment-value {
	position: relative;
    overflow: hidden;

	.output,
	.converted-output {
		height: 80px;
		margin: 9px 8px 15px 3px;

		.value {
			font-size: 35px;
			text-align: right;
			display: inherit;
			white-space: nowrap;
			height: 80px;
			line-height: 80px;
			width: 100%;
		}
	}
	.converted-output {
		height: 40px;
		margin: 9px 8px 15px 3px;

		.value{
			font-size: 20px;
			height: 40px;
			line-height: 40px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 3px 0 3px 3px;
		width: 74%;
		display: inline-block;
		float: left;

		li {
			display:inline-block;

			button {
				display: inline-block;
				width: 70px;
				height: 47px;
				border-radius: 4px;
				margin-bottom: 4px;
				font-size: 30px;

				&.zero {
					margin-left: 76px;
				}
				&.cancel {
					background-color: red;
				}
				&.erase {
					background-color: yellow;
				}
				&.confirm {
					background-color: green;
				}
				&:focus {
					outline:0;
				}
			}
			
		}

		&.nav {
			width: 23%;
		}
	}
}