body {
}

a {
	color: #FF4136;
}

#payment-type {
	ul.payment-list {
		margin: 0;
		padding: 0;
	
		li {
			list-style: none;
			height: 45px;
			border: 1px solid;
			margin-bottom: 5px;
			text-align: center;
			white-space: nowrap;
			line-height: 45px;
			background-color: #f1f1f1;

			a {
				display: inherit;
				color: #000;
				text-decoration: none;
				text-transform: uppercase;
			}

		}
	}
}

#payment-value {
	.output {
		height: 80px;
		margin: 9px 8px 15px 3px;

		.value {
			font-size: 35px;
			text-align: right;
			display: inherit;
			white-space: nowrap;
			height: 80px;
			line-height: 80px;
			width: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 3px;

		li {
			display:inline;

			button {
				display: inline-block;
				width: 70px;
				height: 47px;
				border: 1px solid;
				margin-bottom: 4px;
				font-size: 30px;
			}
		}
	}
}